name: continuous deployment

on:
  push:
    branches: [production, qa]

jobs:
  setup:
    runs-on: [self-hosted, '${{ github.head_ref || github.ref_name }}']
    steps:
      - name: Stop existing PM2 instance
        run: pm2 delete ${{ github.workspace }}/.production/ecosystem.config.js --only backend-${{ github.head_ref || github.ref_name }}
        continue-on-error: true

  build_and_deploy:
    name: build_and_deploy
    needs: setup
    runs-on: [self-hosted, '${{ github.head_ref || github.ref_name }}']
    steps:
      - name: Checkout Repo
        uses: actions/checkout@v2

      - name: Install Dependencies
        run: npm ci

      - name: Start With PM2
        run: pm2 startOrReload ${{ github.workspace }}/.production/ecosystem.config.js --only backend-${{ github.head_ref || github.ref_name }}

      - name: Save PM2 State
        run: pm2 save
